<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>Property Guys</title>


   

</head>
<body>
        <div id="map"></div>
        <div id="detail" class="leaflet-top leaflet-right" style="background-color: white;height: 300px; width: 200px" >
        </div>
        
</body>
</html>
